@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: Roboto, sans-serif; }

#hero {
  background-image: url("../imagenes/hero.jpg");
  width: 100%;
  background-size: cover;
  position: relative; }

section {
  overflow: hidden; }
