@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: Roboto, sans-serif; }

a .letra {
  font-weight: 800; }

.img-container {
  overflow: hidden;
  height: 970px;
  object-fit: cover; }

img .hero {
  width: auto; }
