$navbar-light-color: white;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// Mis estilos

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");




$fuente-principal: Roboto, sans-serif;
$color-principal: #e43939;
$text-color-principal: black;
$text-color-principal-light: #fff;
$color-alterno: #37D5C0;
$main-bg: rgba(0, 0, 0, 0.9);


*::selection {
  color: $color-principal;
}


.h1-custom-size {
  font-size: 4em !important;
  font-family: $fuente-principal !important;
  text-align: center;
}

.a-custom {
  font-size: 1.9em !important;
  text-decoration: none;
  color:#e43939; 
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color:#e43939;
  }
}


.overflow {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("../imagenes/hero.jpg");
}

.hero-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-size-brand {
  font-size: 2rem !important;
  font-weight: bold !important;
  padding-left: 1.5em !important;
  padding-top: 1.5em !important;
  letter-spacing: 0.3em;
}

.custom-size-pages {
  font-size: 1.3rem !important;
  padding-right: 1.9em !important;
  padding-top: 1.5em !important;
}

// MAIN

main.main-custom-index {
    background-color: rgba(0, 0, 0, 0.9);
}

.padding-custom-cards {
    padding-top: 8em;
    padding-bottom: 8em;
    padding-right: 0 !important;
}

  .carta {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0);
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
    &:hover {
      transform: translateY(20px);
      &:before {
        opacity: 1;
      }
      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: rgba(black, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }
    .img-custom {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
    }
    .info {
      position: relative;
      z-index: 3;
      color: white;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;
      .h2-custom {
        margin: 0px;
      }
      .p-custom {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }
      .button-custom {
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: 3px;
        background: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background:#e43939;
          color: white;
        }
      }
    }
  }

//  Section empezar

section#empezar {
  background-color: rgba(0, 0, 0, 0.9) !important; 
}

.padding-empezar {
  padding-top: 1em;
  padding-bottom: 5em;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.custom-h2-empezar {
  font-size: 3em !important;
  color:#fff;
  margin-bottom: 2em;
  text-shadow: black 4px 4px;
  &:hover {
    color: $color-principal;
    
  }
}

//Slider

.custom-icon-empezar {
  height: 6em;
  margin-bottom: 2em;
}

.custom-icon-cuerpo {
  height: 5em;
  margin-bottom: 2em;
}

::selection {
  background: #e43939;
  color: #fff;
}

.container-tabs {
  width: 100%;
  padding: 40px 50px 40px 40px;
  border-radius: 50px;
  background: #343333f8;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .list {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: relative;

    label {
      height: 60px;
      font-size: 22px;
      font-weight: 500;
      line-height: 60px;
      cursor: pointer;
      transition: all 0.5s ease;
      color: rgb(43, 43, 43);
      z-index: 12;
    }
  }
}

#home:checked ~ .list label.item-slider, #blog:checked ~ .list label.item-slider, #help:checked ~ .list label.item-slider, #code:checked ~ .list label.item-slider, #about:checked ~ .list label.item-slider {
  color: #fff;
}

.content {
  .list label:hover {
    color: #e43939;
  }

  .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: #e43939;
    transition: all 0.6s ease;
  }
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 60px;
}

#help:checked ~ .list .slider {
  top: 120px;
}

#code:checked ~ .list .slider {
  top: 180px;
}

#about:checked ~ .list .slider {
  top: 240px;
}

.content {
  .text-content {
    width: 100%;
    height: 100%;
  }

  .text {
    display: none;

    .title {
      font-size: 2em;
      margin-bottom: 1em;
      color: #fff;
      text-shadow: $text-color-principal 6px 6px;
      font-weight: bold;
    }

    .custom-p-tabs {
      text-align: center;
      color: $text-color-principal-light;
      font-size: 1.4em;
    }
  }

  .text-content .home {
    display: block;
  }
}

#home:checked ~ .text-content .home, #blog:checked ~ .text-content .blog, #help:checked ~ .text-content .help, #code:checked ~ .text-content .code, #about:checked ~ .text-content .about {
  display: block;
}

#blog:checked ~ .text-content .home, #help:checked ~ .text-content .home, #code:checked ~ .text-content .home, #about:checked ~ .text-content .home, .content input {
  display: none;
}

// section videos

.heria {
  background-image: url('../imagenes/heria.webp');
}

.heria-food {
  background-image: url('../imagenes/heria-food.webp');
}


#videos {
  background-color: $main-bg;
}

.video-card {
  overflow: hidden;
  padding-bottom: 75%;

  .hover {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.4s;
  }

  &:hover .hover {
    opacity: 1;
  }

  .video-title {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: opacity 0.4s;
  }

  &:hover .video-title {
    opacity: 0;
  }
}

.prueba {
  // background-image: url('https://omnia.us/images/snipImages/global/rectangle-5.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .video-card {
    padding-bottom: 50%;
  }
}

// FOOTER

footer {
  background-color: $main-bg;
  color: $text-color-principal-light;
  padding-top: 8em;
  padding-bottom: 8em;
}

.contenedor-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-titulo {
  font-size: 4em;
  font-weight: bold;
  text-shadow: black 4px 4px;
  &:hover {
    color: $color-principal;
    text-decoration: underline;
  }
}

.footer-secciones {
  text-shadow: black 4px 4px;
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

.custom-a-footer {
  font-size: 1.1em ;
  color: $color-principal;
  text-decoration: none;
  &:hover {
    color: $text-color-principal-light;
    cursor: pointer;
  }
}

.flex-links {
  display: flex;
  flex-direction: column;
}

// Media Queries

@media (max-width: 480px) {
  .content .list label {
    padding-left: 0;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .container-tabs {
    padding: 40px 10px 40px 10px;
  }

  .content .list {
    width: 50%
  }

  .content {
    .text {
      .title {
        font-size: 2em;
      }
      .custom-p-tabs {
        font-size: 1em;
      }
    }
  }

  .list {
    .title {
      font-size: 0.8em;
    }
  }

}

@media (max-width: 768px ) {
  
  .footer-titulo {
    font-size: 2em;
    font-weight: bold;
    text-shadow: black 4px 4px;
    &:hover {
      color: $color-principal;
      text-decoration: underline;
    }
  }

}

// SECCION CUERPO

.custom-bg-cuerpo {
  background-color: $main-bg;
}



  // GALERIA

  @mixin aspect-ratio($width, $height) {
    position: relative;
      
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
      
    > img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
  }
  
  // Styling
  
  section.custom-section-gallery {
      padding: 50px 0;
  }
  
  .container-slides {
      max-width: 1044px;
      margin: 0 auto;
      padding: 14em 3em;
  }
  
  .carousel {
      display: block;
      text-align: left;
      position: relative;
      margin-bottom: 22px;
      
      > input {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          
          &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
          &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
          &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px $color-principal; }
          &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px $color-principal; }
          &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px $color-principal; }
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px $color-principal; }
          &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px $color-principal; }
          &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px $color-principal; }
      }
  }
  
  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 300ms ease-out;
      box-sizing: border-box;
      white-space: normal;
      
      figure {
          display: flex;
          margin: 0;
      }
      
      div {
          @include aspect-ratio(3, 2);
          width: 100%;
      }
      
      img {
          display: block;
          flex: 1 1 auto;
          object-fit: cover;
      }
      
      figcaption {
          align-self: flex-end;
          padding: 20px 20px 0 20px;
          flex: 0 0 auto;
          width: 25%;
          min-width: 150px;
          color: #fff; 
      }
      
      .credit {
          margin-top: 1rem;
          color: #fff;
          display: block;        
      }
      
      &.scrollable {
          overflow-y: scroll;
      }
  }
  
  .carousel__thumbnails {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      
      margin: 0 -10px;
      
      .carousel__slides + & {
          margin-top: 20px;
      }
      
      li {        
          flex: 1 1 auto;
          max-width: calc((100% / 6) - 20px);  
          margin: 0 10px;
          transition: all 300ms ease-in-out;
      }
      
      label {
          display: block;
          @include aspect-ratio(1,1);
          
                    
          &:hover,
          &:focus {
              cursor: pointer;
              
              img {
                  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                  transition: all 300ms ease-in-out;
              }
          }
      }
      
      img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }


  // ANIMACIONES

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-14 13:35:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



@import "../node_modules/bootstrap/scss/bootstrap";
