






@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Mis estilos


.overflow {
    overflow: hidden;
}

.img-size {
    width: 100%;
    overflow: hidden;
    
}




@import "../node_modules/bootstrap/scss/bootstrap";